<!-- title section -->

<div class="image1">
  <div class="image-internal-box">
    <h2>Minimalism, But Make It A Rainbow</h2>
    <p>
      We've cut more paper from our line & reduced our carbon footprint even
      more. Interested in a more in deepth look at our design process?
    </p>
    <button>READ THE BLOG</button>
  </div>
  <img src="/image1.jpg" alt="" />
</div>

<!-- product section -->

<div class="product-container">
  <h1>It's always citrus season here.</h1>

  <div class="product-section">
    <div class="product">
      <div class="product-image">
        <img src="/product1.webp" width="100%" alt="" />
      </div>

      <div class="product-details">
        <h3>Grapefruit Mint Body Soap</h3>
        <h3>$10.00</h3>
      </div>
      <button type="submit">QUICK SHOP</button>
    </div>

    <!-- ----------- -->

    <div class="product">
      <div class="product-image">
        <img src="/product2.webp" width="100%" alt="" />
      </div>

      <div class="product-details">
        <h3>Sweet Orange Tangerine Vegan Lip Balm</h3>
        <h3>$14.00</h3>
      </div>
      <button type="submit">QUICK SHOP</button>
    </div>

    <!-- -------------- -->

    <div class="product">
      <div class="product-image">
        <img src="/product3.webp" width="100%" alt="" />
      </div>

      <div class="product-details">
        <h3>Lemon Blossom Tea Body Scrun Bar</h3>
        <h3>$10.00</h3>
      </div>
      <button type="submit">QUICK SHOP</button>
    </div>
  </div>

  <img class="cartoonish-img" src="/cartoonish.webp" alt="" />
</div>

<iframe
  class="video"
  data-vimeo-width="746"
  frameborder="0"
  allowfullscreen="1"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  title="Meow Meow Tweet Refillable Liquid Hand and Body Wash"
  width="100%"
  height="720"
  src="https://www.youtube.com/embed/K9jYG8ER0LQ?showinfo=0&amp;modestbranding=1&amp;rel=0&amp;autoplay=1&amp;controls=1&amp;mute=1&amp;playlist=K9jYG8ER0LQ&amp;cc_load_policy=0&amp;fs=0&amp;iv_load_policy=3&amp;playsinline=1&amp;branding=0&amp;origin=https%3A%2F%2Fmeowmeowtweet.com&amp;enablejsapi=1&amp;widgetid=1"
  id="widget2"
  data-uw-rm-av="if"
></iframe>

<div class="question-container">
  <h1>New From the Blog</h1>

  <div class="question-section">
    <div class="left-question-section">
      <img
        src="/blogpic1.webp"
        width="100%"
        height="320px"
        style="object-fit: cover"
        alt=""
      />
      <h3>Which Facial Cleanser Is Right For You?</h3>
      <p>
        There are a few factors to consider when choosing your facial cleanser -
        skin type, skin concern, and lifestyle to name a few. But have...
      </p>
    </div>

    <div class="right-question-section">
      <img
        src="/blogpic2.webp"
        width="100%"
        height="320px"
        style="object-fit: cover"
        alt=""
      />
      <h3>Sometimes The Most Meaningful Changes Are Nearly Invisible</h3>
      <p>
        Last year, we became certified carbon neutral, and part of our pledge
        was to reduce paper from our line by at least 15%. So, we...
      </p>
    </div>
  </div>

  <img class="cartoonish-img" src="/cartoonish2.webp" alt="" />
</div>

<div class="question-container-2">
  <div class="question-section-2">
    <h1>What's that buzzzzzzz?</h1>
    <p>As Featured In....</p>
    <div class="question-section-logos">
      <img src="/question-logo-1.avif" alt="" />
      <img src="/question-logo-2.avif" alt="" />
      <img src="/question-logo-3.avif" alt="" />
      <img src="/question-logo-4.avif" alt="" />
    </div>
  </div>
  <img
    src="/summerpic.webp"
    width="100%"
    height="500px"
    style="object-fit: cover"
    alt=""
  />
</div>

<div class="buy-container">
  <h1>Limited Edition for Summer</h1>
  <div class="buy-section">
    <div class="buy-product-img">
      <img src="/buying-produtct-img.jpg" width="100%" alt="" />
    </div>
    <div class="buy-product-details">
      <h1>Lemon Blossom Tea Body Scrub Bar</h1>
      <h3>$10.00</h3>
      <p>
        Pay in 4 interest-free installments for orders over $50.00 with
        <span style="color: blue; font-weight: bold"
          >Shop
          <span
            style="
              padding: 1;
              font-size: 12px;
              background-color: blue;
              color: white;
            "
            >Pay</span
          ></span
        >
        <a style="color: black" href="">Learn more</a>
      </p>
      <h3>Size:</h3>
      <button class="dropdown">
        One Size (4.5 oz)<i class="fa fa-sharp fa-solid fa-caret-down"></i>
      </button>
      <button class="cart">ADD TO CART</button>
    </div>
  </div>
</div>

<div class="sponser-container">
  <h3>THE OFFICIAL STUFF</h3>
  <div class="logos">
    <img src="/officiallog1.webp" alt="" />
    <img src="/officiallogo2.avif" alt="" />
    <img src="/officiallogo3.avif" alt="" />
    <img src="/officiallogo4.avif" alt="" />
  </div>
</div>
